// Variables globales
$primary-color: #28a745;
$secondary-color: #397747;
$dark-blue: #051564; // Azul oscuro
$font-family: "Roboto", sans-serif;

$default-padding: 1rem;
$hero-font-size: 2rem;

// Global Styles
body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    padding-top: 70px; 
}

header a, footer a, .nav-link {
    text-decoration: none;
}

header {
    position: fixed; 
    top: 0;          
    left: 0;
    width: 100%;     
    z-index: 1000;   
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

    .logo {
        width: 140px;
        padding-left: 5%;
        padding-right: 10%;
    }

    .nav-link {
        color: $primary-color;
        font-weight: bold; 
        &:hover {
            text-decoration: underline;
        }
    }
}

.nav-link {
    color: $primary-color;
    
    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: $primary-color; 
    }
// cuando se daclick en el nav
    &:active {
        color: black;
    }
}

// Titulares en azul oscuro
h1, h2, h3, h4, h5, h6 {
    color: $dark-blue;
}

// VENTANA MODAL CALCULADORA EN CONSTRUCCION
.modal-content {
    background-color: #f8f9fa;
    border-radius: 8px;
  }
  
  .modal-header {
    background-color: yellow;
    color: white;
  }

// Hero Section
.hero {
    padding: $default-padding;
    text-align: center;

    h1 {
        color: $dark-blue;
        font-size: $hero-font-size;
    }

    .img-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        overflow: hidden; 
        width: 100%; 
        height: 500px; 
        position: relative; 

        img {
            width: 500px; 
            height: 500px; 
            object-fit: cover; 
            opacity: 0; 
            transition: opacity 2s ease-in-out; 
            position: absolute; 
            top: 0; 
            left: 50%; 
            transform: translateX(-50%);

            &.fade-in {
                opacity: 1; 
            }
        }
    }

    .hero .img-container img {
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        opacity: 0; 
        transition: opacity 1s ease-in-out;
      }
      
      .hero .img-container img.fade-in {
        opacity: 1; 
        z-index: 1; 
      }      

    @media (max-width: 768px) {
        .img-container {
            height: 300px; 

            img {
                width: 300px; 
                height: 300px;
            }
        }

        
        .col-md-6 {
            margin-bottom: 20px; 
        }
    }

    @media (max-width: 576px) {
        .img-container {
            height: 275px;

            img {
                width: 275px;
            }
        }
    }

    .col-md-6 {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: flex-start; 
        height: auto; 
        margin-bottom: 30px; 
    }
}

#info_intro {
    padding-top: 25px ;
}

#info_detalle{
    margin-left: 5%;
    margin-right: 5%;
}

// MODAL CONTACTO INDEX

.modal-content {
  border-radius: 1rem;
  overflow: hidden;

  img {
    max-height: 300px; 
    object-fit: cover;
  }

  .btn-lg {
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
  }
}

// Titulos PRODUCTOS QUE MARCAN LA DIFERENCIA
h2.text-center.fw-bold.mb-4 {
    padding-top: 1rem;
    padding-bottom: 2rem; 
  }

// Carousel Customizations
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
}

// Color texto frase antes del footer

h2.text-blue {
  color:  $primary-color;
}

.imagen-fondo {
    background-image: url("img/index/imgFondo.png");
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 768px) {
      .imagen-fondo {
        height: 200px; } }
  
// Footer Styles
footer {
    padding: $default-padding;
    background-color: $secondary-color;

    h5 {
        color: $primary-color;
    }
}

// Título con espaciado centrado
.info {
    h2 {
        margin-top: 2rem;    
        margin-bottom: 2rem;
        text-align: center; 
    }

    .row {
        @media (max-width: 1300px) {
            flex-direction: column; 
            align-items: center;  
        }
    }

    .col-md-6 {
        @media (max-width: 1300px) {
            width: 100%; 
            margin-bottom: 20px; 
        }
    }

    iframe {
        @media (max-width: 1300px) {
            width: 100% !important; 
            height: 300px;
        }

        @media (min-width: 1300px) {
            width: 80%; 
            max-height: 500px; 
            margin-top: 3em; 
        }
    }

    @media (max-width: 1300px) {
        display: flex;
        flex-direction: column; 
        align-items: center; 

        iframe {
            order: -1; 
        }
    }

    h2, p {
        @media (max-width: 1300px) {
            text-align: center; 
        }
    }
}
// --------------------------------------------------------------------------

// Estilos pagina cursos 


section.container {
    position: relative; 
    padding-bottom: 2rem; 
  
    // Estilo del texto para mantener estructura limpia
    h2,
    p {
      margin-bottom: 1rem;
    }

    .ocultar {
        opacity: 0;
        transform: translateY(20px); 
      }
      
      .titulo-animado,
      .subtitulo-animado,
      .parrafo-animado {
        animation: aparecer 1s ease-in-out forwards;
      }
      
      .titulo-animado {
        animation-delay: 1s; 
      }
      
      .subtitulo-animado {
        animation-delay: 1.2s; 
      }
      
      .parrafo-animado {
        animation-delay: 1.4s; 
      }
      
      @keyframes aparecer {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0); 
        }
      }      
  
    .imagen-posicionada {
      display: block; 
      margin: 2rem auto 0; 
      width: 80%; 
      height: auto; 
      opacity: 0.8; 
  
      // Media queries para tamaños de pantalla
      @media (max-width: 992px) { 
        width: 80%;
      }
  
      @media (max-width: 768px) { 
        width: 500px;
      }
  
      @media (max-width: 576px) { 
        width:400px;
      }
    }
  }  
  
// TITULAR CURSOS
#titular_cursos {
    padding-top: 3rem;
    padding-bottom: 2rem;  
    font-weight: bold;
  }

#subtitulos_cursos1, #subtitulos_cursos2 {
    font-style: italic;
    padding-bottom: 2rem;
    font-size: larger;
}

#subtitulos_cursos1 {
    color: $dark-blue;
}

#subtitulos_cursos2 {
    color: $secondary-color;
}

#ventajas_cursos{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

// Imagenes ventajas
.fade-in {
    width: 100%; 
    object-fit: cover; 
  }
  
  @media (min-width: 768px) and (max-width: 991px) { 
    .fade-in {
      height: 300px;
      object-fit: cover; 
    }
  }

  // Subtitulos imagenes

  .detalle_capacitaciones {
    color: $primary-color;
    margin-bottom: 2rem; 
  }

// TITULAR ACORDEON

#titular_acordeon {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

// BOTONES DEL ACORDEON

.accordion-button {
    color: $dark-blue !important;
    font-weight: bold;
  }
  

// FORMULARIO

form {
  input, 
  select {
    border: 1px solid $primary-color;
    &:focus {
      border-color: darken($primary-color, 10%);
      outline: none;
    }
  }
}

#formulario_cursos {
    border: 2px solid green;
    border-radius: 10px;
    padding: 20px;
    background-color: grey;
    margin-top: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  @media (min-width: 768px) {
    #formulario_cursos {
      margin-left: auto;
      margin-right: auto;
      width: 70%;
    }
  }

  @media (max-width: 768px) {
    #formulario_cursos {
        margin-left: 10%;
        margin-right: 10%;

      }
    }

  @media (min-width: 1200px) {
    #formulario_cursos {
      width: 50%;
    }
  }

.form-control,
.form-select {
  border: 1px solid $primary-color;

  &:focus {
    border-color: darken($primary-color, 10%);
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25); 
  }
}

#emailError {
    display: none;
  }

//  Mostrar el mensaje cuando el campo es inválido 
  input:invalid + #emailError {
    display: block;
  }

//    Ocultar el mensaje cuando el campo es válido 
  input:valid + #emailError {
    display: none;
  }

//   --------------------------------------------------------------

// Estilos pagina contacto

.contacto-title, #titulo_2_index {
    color: $primary-color;
}

.contacto-subtitle{
    color: $dark-blue;
    opacity: 80%;
    font-size: 1.2rem;
    max-width: 600px; 
    margin: 0 auto; 
    line-height: 1.5
}

// sectiopn contacto dos imagenes

.icono-imagen {
    max-width: 40px; 
    height: auto; 
    margin-right: 10px; 
    vertical-align: middle; 
}

.contact-text {
    color: #000; 
    font-weight: 900; 
    font-size: 1.2rem;
}


// ---------------------------------------------------------------------------------

// formulario contacto

.form-container {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #121212;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    border-color: #4caf0b; 
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 11, 0.5);
}

textarea {
    resize: none;
}

.btn-enviar {
    width: 100%;
    padding: 10px;
    background-color: #4caf0b; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-enviar:hover {
    background-color: #388e3c; 
}


@media (max-width: 768px) {
    .contacto-icon-container {
        padding-top: 3rem; 
        // en mobile aniado padding superior al contenedor
    }
}


// section contacto, para validaciones estilos
.error-message {
    color: #c20010; 
    font-size: 12px;
    margin-top: 5px;
    display: none; 
}

input.error, textarea.error {
    border-color: #c20010; 
}

input.success, textarea.success {
    border-color: #4caf0b; 
}



// mensaje exitoso 
.success-msj {
    background-color: #4caf0b; 
    color: #ffffff;
    margin-top: 9px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px #00000033;
    font-size: 16px;
    text-align: center;
    display: none; 
}

// seccion contacto mapa
.map-container {
    border: 2px solid #dcdcdc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


// --------------------------------------------------------------------------


// Tipografías Roboto
.roboto-thin { font-family: $font-family; font-weight: 100; font-style: normal; }
.roboto-light { font-family: $font-family; font-weight: 300; font-style: normal; }
.roboto-regular { font-family: $font-family; font-weight: 400; font-style: normal; }
.roboto-medium { font-family: $font-family; font-weight: 500; font-style: normal; }
.roboto-bold { font-family: $font-family; font-weight: 700; font-style: normal; }
.roboto-black { font-family: $font-family; font-weight: 900; font-style: normal; }

.roboto-thin-italic { font-family: $font-family; font-weight: 100; font-style: italic; }
.roboto-light-italic { font-family: $font-family; font-weight: 300; font-style: italic; }
.roboto-regular-italic { font-family: $font-family; font-weight: 400; font-style: italic; }
.roboto-medium-italic { font-family: $font-family; font-weight: 500; font-style: italic; }
.roboto-bold-italic { font-family: $font-family; font-weight: 700; font-style: italic; }
.roboto-black-italic { font-family: $font-family; font-weight: 900; font-style: italic; }
