body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 70px;
}

header a, footer a, .nav-link {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header .logo {
  width: 140px;
  padding-left: 5%;
  padding-right: 10%;
}
header .nav-link {
  color: #28a745;
  font-weight: bold;
}
header .nav-link:hover {
  text-decoration: underline;
}

.nav-link {
  color: #28a745;
}
.nav-link:hover {
  text-decoration: underline;
}
.nav-link:visited {
  color: #28a745;
}
.nav-link:active {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  color: #051564;
}

.modal-content {
  background-color: #f8f9fa;
  border-radius: 8px;
}

.modal-header {
  background-color: yellow;
  color: white;
}

.hero {
  padding: 1rem;
  text-align: center;
}
.hero h1 {
  color: #051564;
  font-size: 2rem;
}
.hero .img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 500px;
  position: relative;
}
.hero .img-container img {
  width: 500px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.hero .img-container img.fade-in {
  opacity: 1;
}
.hero .hero .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.hero .hero .img-container img.fade-in {
  opacity: 1;
  z-index: 1;
}
@media (max-width: 768px) {
  .hero .img-container {
    height: 300px;
  }
  .hero .img-container img {
    width: 300px;
    height: 300px;
  }
  .hero .col-md-6 {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .hero .img-container {
    height: 275px;
  }
  .hero .img-container img {
    width: 275px;
  }
}
.hero .col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  margin-bottom: 30px;
}

#info_intro {
  padding-top: 25px;
}

#info_detalle {
  margin-left: 5%;
  margin-right: 5%;
}

.modal-content {
  border-radius: 1rem;
  overflow: hidden;
}
.modal-content img {
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal-content .btn-lg {
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
}

h2.text-center.fw-bold.mb-4 {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
}

h2.text-blue {
  color: #28a745;
}

.imagen-fondo {
  background-image: url("img/index/imgFondo.png");
  opacity: 0.7;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .imagen-fondo {
    height: 200px;
  }
}
footer {
  padding: 1rem;
  background-color: #397747;
}
footer h5 {
  color: #28a745;
}

.info h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
@media (max-width: 1300px) {
  .info .row {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1300px) {
  .info .col-md-6 {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 1300px) {
  .info iframe {
    width: 100% !important;
    height: 300px;
  }
}
@media (min-width: 1300px) {
  .info iframe {
    width: 80%;
    max-height: 500px;
    margin-top: 3em;
  }
}
@media (max-width: 1300px) {
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info iframe {
    order: -1;
  }
}
@media (max-width: 1300px) {
  .info h2, .info p {
    text-align: center;
  }
}

section.container {
  position: relative;
  padding-bottom: 2rem;
}
section.container h2,
section.container p {
  margin-bottom: 1rem;
}
section.container .ocultar {
  opacity: 0;
  transform: translateY(20px);
}
section.container .titulo-animado,
section.container .subtitulo-animado,
section.container .parrafo-animado {
  animation: aparecer 1s ease-in-out forwards;
}
section.container .titulo-animado {
  animation-delay: 1s;
}
section.container .subtitulo-animado {
  animation-delay: 1.2s;
}
section.container .parrafo-animado {
  animation-delay: 1.4s;
}
@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
section.container .imagen-posicionada {
  display: block;
  margin: 2rem auto 0;
  width: 80%;
  height: auto;
  opacity: 0.8;
}
@media (max-width: 992px) {
  section.container .imagen-posicionada {
    width: 80%;
  }
}
@media (max-width: 768px) {
  section.container .imagen-posicionada {
    width: 500px;
  }
}
@media (max-width: 576px) {
  section.container .imagen-posicionada {
    width: 400px;
  }
}

#titular_cursos {
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-weight: bold;
}

#subtitulos_cursos1, #subtitulos_cursos2 {
  font-style: italic;
  padding-bottom: 2rem;
  font-size: larger;
}

#subtitulos_cursos1 {
  color: #051564;
}

#subtitulos_cursos2 {
  color: #397747;
}

#ventajas_cursos {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: bold;
}

.fade-in {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) and (max-width: 991px) {
  .fade-in {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.detalle_capacitaciones {
  color: #28a745;
  margin-bottom: 2rem;
}

#titular_acordeon {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.accordion-button {
  color: #051564 !important;
  font-weight: bold;
}

form input,
form select {
  border: 1px solid #28a745;
}
form input:focus,
form select:focus {
  border-color: #1e7e34;
  outline: none;
}

#formulario_cursos {
  border: 2px solid green;
  border-radius: 10px;
  padding: 20px;
  background-color: grey;
  margin-top: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  #formulario_cursos {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}
@media (max-width: 768px) {
  #formulario_cursos {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 1200px) {
  #formulario_cursos {
    width: 50%;
  }
}
.form-control,
.form-select {
  border: 1px solid #28a745;
}
.form-control:focus,
.form-select:focus {
  border-color: #1e7e34;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

#emailError {
  display: none;
}

input:invalid + #emailError {
  display: block;
}

input:valid + #emailError {
  display: none;
}

.contacto-title, #titulo_2_index {
  color: #28a745;
}

.contacto-subtitle {
  color: #051564;
  opacity: 80%;
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}

.icono-imagen {
  max-width: 40px;
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}

.contact-text {
  color: #000;
  font-weight: 900;
  font-size: 1.2rem;
}

.form-container {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #121212;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  border-color: #4caf0b;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 11, 0.5);
}

textarea {
  resize: none;
}

.btn-enviar {
  width: 100%;
  padding: 10px;
  background-color: #4caf0b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-enviar:hover {
  background-color: #388e3c;
}

@media (max-width: 768px) {
  .contacto-icon-container {
    padding-top: 3rem;
  }
}
.error-message {
  color: #c20010;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}

input.error, textarea.error {
  border-color: #c20010;
}

input.success, textarea.success {
  border-color: #4caf0b;
}

.success-msj {
  background-color: #4caf0b;
  color: #ffffff;
  margin-top: 9px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  text-align: center;
  display: none;
}

.map-container {
  border: 2px solid #dcdcdc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}/*# sourceMappingURL=styles.css.map */