// Variables globales
$primary-color: #28a745;
$secondary-color: #397747;
$dark-blue: #051564; // Azul oscuro
$font-family: "Roboto", sans-serif;

$default-padding: 1rem;
$hero-font-size: 2rem;

// Global Styles
body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    padding-top: 70px; /* Espacio suficiente para que el contenido no quede debajo del navbar */
}

header a, footer a, .nav-link {
    text-decoration: none;
}

header {
    position: fixed;  /* Hace que el navbar esté fijo */
    top: 0;           /* Lo coloca en la parte superior de la página */
    left: 0;
    width: 100%;      /* Asegura que ocupe todo el ancho de la pantalla */
    z-index: 1000;    /* Asegura que el navbar se quede por encima de otros elementos */
    background-color: #fff; /* Establece un fondo blanco, para que no se mezcle con el contenido */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añade una sombra ligera para darle un efecto de separación */

    .logo {
        width: 140px;
        padding-left: 5%;
        padding-right: 10%;
    }

    .nav-link {
        color: $primary-color;
        font-weight: bold; // Ya está en "fw-bold" del HTML
        &:hover {
            text-decoration: underline;
        }
    }
}

.nav-link {
    color: $primary-color;  /* Color del enlace normal */
    
    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: $primary-color; /* Mantiene el color después de haber sido visitado */
    }

    &:active {
        color: black; /* Color del enlace cuando está activo (clickeado) */
    }
}

// Titulares en azul oscuro
h1, h2, h3, h4, h5, h6 {
    color: $dark-blue;
}

// Hero Section
.hero {
    padding: $default-padding;
    text-align: center;

    h1 {
        color: $dark-blue;
        font-size: $hero-font-size;
    }

    .img-container {
        display: flex;
        flex-direction: row;
        justify-content: center; /* Centra las imágenes horizontalmente */
        align-items: center; /* Centra las imágenes verticalmente */
        overflow: hidden; /* Oculta las imágenes que excedan el área */
        width: 100%; /* Se ajusta al contenedor */
        height: 500px; /* Fija una altura para que las imágenes no sobresalgan */
        position: relative; /* Necesario para manejar el contenido dentro de este contenedor */

        img {
            width: 500px; /* Establece el tamaño de las imágenes a 500x500px */
            height: 500px; /* Asegura que las imágenes tengan el tamaño deseado */
            object-fit: cover; /* Asegura que las imágenes llenen el contenedor sin distorsionarse */
            opacity: 0; /* Hace que las imágenes estén inicialmente invisibles */
            transition: opacity 2s ease-in-out; /* Transición suave de opacidad */
            position: absolute; /* Asegura que las imágenes no afecten el flujo normal del documento */
            top: 0; /* Coloca las imágenes en la parte superior del contenedor */
            left: 50%; /* Centra las imágenes horizontalmente */
            transform: translateX(-50%); /* Centra las imágenes exactamente en el medio */

            &.fade-in {
                opacity: 1; /* Hace que la imagen con clase fade-in sea visible */
            }
        }
    }

    @media (max-width: 768px) {
        .img-container {
            height: 300px; /* Ajustamos la altura del contenedor */

            img {
                width: 300px; /* Reducimos el tamaño */
                height: 300px; /* Mantiene la proporción */
            }
        }

        /* Opcional: espacio adicional para el texto */
        .col-md-6 {
            margin-bottom: 20px; /* Espacio adicional para tablets */
        }
    }

    @media (max-width: 576px) {
        .img-container {
            height: 275px;

            img {
                width: 275px;
            }
        }
    }

    .col-md-6 {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centra el contenido dentro de la columna */
        align-items: flex-start; /* Alinea el texto al inicio */
        height: auto; /* Ajusta la altura al contenido */
        margin-bottom: 30px; /* Asegura que haya un pequeño espacio entre el texto y la imagen */
    }
}

#info_intro {
    padding-top: 25px ;
}

#info_detalle{
    margin-left: 5%;
    margin-right: 5%;
}

// Carousel Customizations
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
}

// Footer Styles
footer {
    padding: $default-padding;
    background-color: $secondary-color;

    h5 {
        color: $primary-color;
    }
}

// Título con espaciado centrado
.info {
    h2 {
        margin-top: 2rem;    // Agrega margen superior
        margin-bottom: 2rem; // Agrega margen inferior
        text-align: center;  // Centra horizontalmente el texto
    }

    .row {
        @media (max-width: 1300px) {
            flex-direction: column; /* Cambia la dirección de los elementos a columna */
            align-items: center;   /* Centra los elementos */
        }
    }

    .col-md-6 {
        @media (max-width: 1300px) {
            width: 100%; /* Hace que los elementos ocupen todo el ancho de la columna */
            margin-bottom: 20px; /* Añade un pequeño espacio entre el video y el texto */
        }
    }

    iframe {
        @media (max-width: 1300px) {
            width: 100% !important; /* Asegura que el iframe ocupe todo el ancho de la pantalla */
            height: 300px; /* Ajusta la altura según prefieras */
        }

        @media (min-width: 1300px) {
            width: 80%; /* Ajusta el tamaño del video para que no ocupe todo el ancho */
            max-height: 500px; /* Ajusta la altura máxima para evitar desproporciones */
            margin-top: 3em; /* Espacio debajo del video */
        }
    }

    @media (max-width: 1300px) {
        display: flex;
        flex-direction: column; /* Cambia la dirección de los elementos */
        align-items: center; /* Centra los elementos */

        iframe {
            order: -1; /* Coloca el video arriba */
        }
    }

    h2, p {
        @media (max-width: 1300px) {
            text-align: center; /* Centra el texto */
        }
    }
}

// Estilos pagina contacto

.contacto-title, #titulo_2_index {
    color: $primary-color;
}

.contacto-subtitle{
    color: $dark-blue;
    opacity: 80%;
    font-size: 1.2rem;
    max-width: 600px; 
    margin: 0 auto; 
    line-height: 1.5
}

.contacto-icon img {
    max-width: 40px; 
    height: auto;  
    margin: 0 auto; 
}

// Tipografías Roboto
.roboto-thin { font-family: $font-family; font-weight: 100; font-style: normal; }
.roboto-light { font-family: $font-family; font-weight: 300; font-style: normal; }
.roboto-regular { font-family: $font-family; font-weight: 400; font-style: normal; }
.roboto-medium { font-family: $font-family; font-weight: 500; font-style: normal; }
.roboto-bold { font-family: $font-family; font-weight: 700; font-style: normal; }
.roboto-black { font-family: $font-family; font-weight: 900; font-style: normal; }

.roboto-thin-italic { font-family: $font-family; font-weight: 100; font-style: italic; }
.roboto-light-italic { font-family: $font-family; font-weight: 300; font-style: italic; }
.roboto-regular-italic { font-family: $font-family; font-weight: 400; font-style: italic; }
.roboto-medium-italic { font-family: $font-family; font-weight: 500; font-style: italic; }
.roboto-bold-italic { font-family: $font-family; font-weight: 700; font-style: italic; }
.roboto-black-italic { font-family: $font-family; font-weight: 900; font-style: italic; }
